
<!DOCTYPE html>
<style>
    /*.navbar, .navbar-inverse {
        background: black !important;
        border-color: black !important;
    }*/
 
</style>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DXC Happenings!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<script type="text/javascript">

            window.history.forward();
            function noBack() {
                window.history.forward();
            }
        </script>*@
    
</head>
<body>
    
        <div class="body-content">
            @RenderBody()
       
        <footer>
            <p style="background-color: white; font-weight: bold; color:lightgray; text-align: center; font-style: oblique">© @DateTime.Now.ToLocalTime()</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>




